@import "./frame.css";
@import "./masonry.css";
@import "./thumb.css";
@import "./preview.css";
@import "./reset.css";
@import "./spinner.css";

:root {
  --bg: black;
  --text: #ff4c65;
  --cell-size: 50px;

  background-color: var(--bg);
  color: var(--text);
  font-family: monospace;
}

h1 {
  width: max-content;
  margin-block: 2rem;
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.too-small {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  padding: 0;
  border: none;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
